/*
 * To get div#left-margin to stretch its height to 100% of the viewport, all
 * parent elements including, in HTML5, html, must have a 100% height as well.
 */
html, body {
	height: 100%;
}

body {
	font-family: "trebuchet ms", sans-serif;
	font-size:   13px;
}

#logo a:link, #logo a:visited {
	color:            #000;
	font-family:      sans-serif;
	font-size:        80px;
	font-weight:      bold;
	letter-spacing:   -11px;
	padding:          0 10px 10px 0;
	text-decoration:  none;
	text-shadow:      0 0 9px #888;
	
	position:         relative;
	top:              -1px;
}

#logo {
	background-color: #fff;
}

#logo:hover {
	background-color: #000;
}

#logo:hover a {
	color:            #fff;
}

div#left-margin {
	background-color: #000;
	float:            left;
	min-height:       110%;
	text-align:       center;
	width:            163px;
	position: fixed;
}

/* Fix for firefox */
@-moz-document url-prefix() {
	div#left-margin {
		width: 164px;
	}
	#logo a {
		font-size:	 70px !important;
	}
}

ul#navigation {
	color:           #fff;
	font-family:     "trebuchet ms", sans-serif;
	font-size:       14px;
	list-style-type: none;
	padding:         6px 9px 3px 3px;
	text-align:      right;
}

a.navigation:link, a.navigation:visited {
	color:           #fff;
	font-size:       14px;
	text-decoration: none;
}

a.navigation:hover {
	font-style: italic;
}

div#page-content {
	min-height: 80%;
	margin: 20px 0 50px 180px;
	width:  800px;
}

div.entry-title, div.section-title {
	border-bottom:   1px dashed #999;
	color:           #444;
	font-family:     arial, sans-serif;
	font-size:       18px;
	font-weight:     bold;
	letter-spacing:  -1px;
	text-decoration: none;
}

div.section-title {
	color: #000;
}

a:link, a:visited {
	color:           #00f;
	font-family:     "trebuchet ms", sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#footer {
	color:       #999;
	font-family: arial, sans-serif;
	font-size:   10px;
	padding:     0 10px 15px 0;
	text-align:  right;
}

a.footer {
	color: #666;
}

div.member-left, div.member-right {
	background-color: #fafafa;
	border:           1px dashed #ccc;
	display:          inline-block;
	margin:           10px;
	padding:          10px;
	width:            350px;
}

div.member-name {
	font-size: 16px;
}

div.member-position {
}

a.member-link {
}

hr {
	border: 0;
	border-top: 1px dashed #999;
}

blockquote {
	background-color: #fafafa;
	border:           1px dashed #ccc;
	margin:           10px 0 10px 30px;
	padding:          10px;
}
